            <div class="row">
              <div class="col-md-6 col-sm-6">
                <%= image_tag '4.jpg', :class => "img-rounded img-responsive" %>
                <br>
                <%= render 'layouts/contact' %>
              </div>
              <div class="col-md-6 col-sm-6">



<h1 style="margin-top:0;">Gourmet Hotdogs</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <h4><i class="icon-star icon-large"></i> Quality, fresh, locally made ingredients</h4>
    <h4><i class="icon-heart icon-large"></i> Home made sauces</h4>
    <h4><i class="icon-smile icon-large"></i> Friendliest service in town </h4>
    <h4><i class="icon-thumbs-up icon-large"></i> A tasty, satisfying treat</h4>
  </div>
</div>




<h1>Find Gourmet Hotdogs here:</h1>

<% if @locations.count > 0 %>
  <% @locations.each do |location| %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <%= location.place_name %> <% if user_signed_in? %>
      <span class="pull-right"><%= link_to "Edit", edit_location_path(location), class: 'btn btn-primary' %></span>
    <% end %>
      </div>
      <div class="panel-body">
        <h4><i class="icon-calendar"></i> <%= location.date.strftime("%A, %e %B %Y") %></h4>
    <h4><i class="icon-time"></i> <%= location.start_time.strftime("%H:%M") %> - <%= location.finish_time.strftime("%H:%M") %></h4>
    <h4><i class="icon-location-arrow"></i> <%= location.street %>, <%= location.suburb %></h4>
    
      </div>
    </div>
  <% end %>
<% end %>
<% if user_signed_in? %>
      <%= link_to "New location", new_location_path, class: 'btn btn-primary' %>
    <% end %>

</div>
            </div>
